.SideDrawer {
  position: fixed;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  z-index: 699;
  background-color: var(--main-color);
  padding: 32px 0px;
  box-sizing: border-box;
  transition: transform 0.4s ease-out;
}
.SideDrawer.Open {
  box-shadow: 3px 0px 5px 0px #2e2e2e;
}
/* .Footer {
  position: fixed;
  bottom: 0%;
  padding: 0.5rem;
  width: 100%;
  color: #333333;
  background-color: var(--secondary-color);
  text-align: left;
}

.Footer ul{
  list-style: none;
  margin: 10px auto;
  padding-left: 10px;
}
.Footer ul li{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
}
.Footer ul li svg{
  margin-right: 5px;
  width: 24px;
}
.Footer ul li:first-of-type svg path, .Footer ul li:last-of-type svg path{
  fill: #333333;
} */

@media (min-width: 750px) {
  .SideDrawer {
    width: 450px;
  }
}

@media (min-width: 780px) {
  .SideDrawer {
    display: none;
  }
}

.Open {
  transform: translateY(0);
}

.Close {
  transform: translateY(-100%);
}

.Logo {
  height: 11%;
  margin-bottom: 32px;
}
